<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Anza-Borrego Desert State Park</string>
		<key>Latitude</key>
		<string>33.256196</string>
		<key>Longitude</key>
		<string>-116.403047</string>
		<key>General Info</key>
		<string>Anza-Borrego Desert State Park is the largest state park in California. The park consists of five hundred miles of dirt roads, 12 wilderness areas, and many miles of hiking trails. The park is located 85.6 miles northeast of Downtown San Diego. The park are the homelands to the Kumeyaay and the Cahuilla. The visitor center has several exhibits about the Indigenous Peoples who lived in this area.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>9-5; Park: Dawn-Dusk</string>
		<key>Website</key>
		<string>http://www.parks.ca.gov/?page_id=638</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Cabrillo National Monument</string>
		<key>Latitude</key>
		<string>32.674284</string>
		<key>Longitude</key>
		<string>-117.239629</string>
		<key>General Info</key>
		<string>The Kumeyaay Indians inhabited the area before the Spanish sailed upon the West Coast shore. There are a limited selection of exhibits about the Tribes in the area at the Cabrillo National Monument. The exhibits include outdoor wayside panels and flat panels in the Cabrillo exhibit. However, tribal members are an integral part of the annual Cabrillo Festival Open House which occurs in September. The Kumeyaay share their traditions and stories with thousands of Festival visitors.</string>
		<key>Fees</key>
		<string>$5 per vehicle, $3 for walk-ins</string>
		<key>Hours</key>
		<string>M-Su 9-5</string>
		<key>Website</key>
		<string>http://www.nps.gov/cabr/index.htm</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Chokla (Gregory Mountain)</string>
		<key>Latitude</key>
		<string>33.3454</string>
		<key>Longitude</key>
		<string>-117.095332</string>
		<key>General Info</key>
		<string>Located near the Pala Band of Mission Indians Reservation, Chokla (Gregory Mountain) is a sacred and important cultural and spiritual site to the Luiseno. For over twenty years, the Pala Band of Mission Indians have been working to halt the construction of a landfill that would result in garbage being buried high up the side of Chokla and near Medicine Rock (a 40-foot high rock also considered sacred). Both sites have been deemed eligible for listing on the National Register of Historic Sites; however, the entire area is considered culturally important. Access is restriced to Pala Tribal Members.</string>
		<key>Fees</key>
		<string>N/A</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.savegregorycanyon.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Cuyamaca Rancho State Park</string>
		<key>Latitude</key>
		<string>32.927402</string>
		<key>Longitude</key>
		<string>-116.563644</string>
		<key>General Info</key>
		<string>The Cuyamaca Rancho State Park is located 47 miles east of San Diego and encompasses 24,700 acres of forest, meadows, and running streams. The Kumeyaay Indians ancestors occupied the Cuyamaca mountain, and their village sites are located throughout the state park. The healing spring, Ah-Ha Kwe-Ah-Mac (Water Colder Water), is located in the park. The park&apos;s visitor center features exhibits regarding Kumeyaay life before European settlement.</string>
		<key>Fees</key>
		<string>$8 per vehicle</string>
		<key>Hours</key>
		<string>Dawn-Dusk daily</string>
		<key>Website</key>
		<string>www.parks.ca.gov/?page_id=667</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Felicita County Park</string>
		<key>Latitude</key>
		<string>33.082405</string>
		<key>Longitude</key>
		<string>-117.084248</string>
		<key>General Info</key>
		<string>Tucked in a small valley in southwest Escondido, Felicita County Park is one of San Diego&apos;s oldest, and most diverse gathering places. Felicita Park is listed on the National Register of Historic Places for its rich Native American and pioneer history. With its abundance of water, oaks,  and boulders, the land was the site of a large Kumeyaay village and is named after Felicita LaChappa, a Kumeyaay woman who lived in the San Pasqual Valley.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>9:30- Sunset</string>
		<key>Website</key>
		<string>http://www.sandiegocounty.gov/parks/picnic/felicita.html</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Kuuchamaa Mountain</string>
		<key>Latitude</key>
		<string>32.579505</string>
		<key>Longitude</key>
		<string>-116.688907</string>
		<key>General Info</key>
		<string>Kuuchamaa Mountain is located near Tecate, CA, and is a sacred mountain for the Kumeyaay people. The mountain is located 43 miles southeast of Downtown San Diego. Kuuchamaa was named after a powerful tribal leader who used the spiritual power from the mountain to call for peace and healing among the Kumeyaay and surrounding nations.</string>
		<key>Fees</key>
		<string>N/A</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://kdlc.org/html/kuuchamaa.html</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Mosler Property</string>
		<key>Latitude</key>
		<string>33.06344139999999</string>
		<key>Longitude</key>
		<string>-116.58110870000001</string>
		<key>General Info</key>
		<string>The Mosler property, located in the Cuymaca mountain area, is part of a cultural landscape of great significance to the Kumeyaay people, who lived in the area until the 1800s. In the late nineteeth century, the Mosler family aquired the land. After the death of Francis Mosler, the land was granted to the Native American Land Convervancy. The Native American Land Conservancy granted the land to the Kumeyaay Diegueno Land Conservancy.</string>
		<key>Fees</key>
		<string>N/A</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://kdlc.org/html/mosler.html</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Piedras Pintadas Trail</string>
		<key>Latitude</key>
		<string>33.051964</string>
		<key>Longitude</key>
		<string>-117.076659</string>
		<key>General Info</key>
		<string>Located in the San Dieguito River Valley, the trail is 28 miles North of Downtown San Diego in Escondido, CA. Recognizing that the Kumeyaay  lived in this area for thousands of years, information about Kumeyaay culture and resource management techniques are provided on a series of interpretive panels along the Piedras Pintadas trail.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>Dawn-Dusk daily</string>
		<key>Website</key>
		<string>http://www.sdrp.org/resources/painted/index.htm</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>San Diego Botanic Garden</string>
		<key>Latitude</key>
		<string>33.05263</string>
		<key>Longitude</key>
		<string>-117.279954</string>
		<key>General Info</key>
		<string>The San Diego Botanic Garden is a botanical garden located in Encinitas, California - 28.5 miles North of Downtown San Diego. The Botanic Garden encompasses 37 acres which includes a Native Plants and Native People Trail. This trail displays how Native People used the plants for food, medicine, clothing, shelter, and tools.</string>
		<key>Fees</key>
		<string>Varies $8-$10/person</string>
		<key>Hours</key>
		<string>9am-5pm Daily</string>
		<key>Website</key>
		<string>www.sdbgarden.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Sloan Canyon (Portion of)</string>
		<key>Latitude</key>
		<string>32.773394239997415</string>
		<key>Longitude</key>
		<string>-116.85423202543461</string>
		<key>General Info</key>
		<string>In 2013, the Kumeyaay Diegueno Land Conservancy purchased a portion of Sloan Canyon from the Sycuan Band. This property is located adjacent to the Sycuan Indian Reservation and part of the Kumeyaay homeland. This property is conserved by KDLC as permanent open space.</string>
		<key>Fees</key>
		<string>N/A</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://kdlc.org/html/sloan-canyon.html</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Trails of the Kumeyaay (Mission Trails)</string>
		<key>Latitude</key>
		<string>32.819775</string>
		<key>Longitude</key>
		<string>-117.056515</string>
		<key>General Info</key>
		<string>Mission Trails Regional Park encompasses 6,800 acres of both natural and developed recreational areas. The park is located eight miles northeast of downtown San Diego. The Nature Center has a display regarding the Kumeyaay, an outside native plant garden with an Ewaa - a traditional Kumeyaay will dwelling, and observant hikers will find slicks, metates, and grinding stones throughout the park. The Nature Center, also, provides a quick, natural escape from the urban hustle and bustle.The park&apos;s theater shows the video &quot;Trails of the Kumeyaay&quot; upon request.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>Visitor Center: 9-5</string>
		<key>Website</key>
		<string>www.mtrp.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Cultural Trails and Landmarks</string>
		<key>Site</key>
		<string>Tecolote Canyon Natural Park &amp; Tecolote Nature Center</string>
		<key>Latitude</key>
		<string>32.775504</string>
		<key>Longitude</key>
		<string>-117.197475</string>
		<key>General Info</key>
		<string>Tecolote Canyon is a place that is rich with history as the Kumeyaay Indians found food and shelter in the canyon. The Tecolote Canyon Natural Park &amp; Nature Center offers a variety of educational and recreational opportunities, as well as Kumeyaay Cultural Programs. The Canyon has approximately 6.5 miles of trails for jogging, walking and mountain biking. A Nature Center offers a host of exhibits on the animal and plant life of the Canyon.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>Nature Center: T-S 9-4, Su 9-2</string>
		<key>Website</key>
		<string>http://www.sandiego.gov/park-and-recreation/parks/osp/tecolote/</string>
	</dict>
</array>
</plist>
