<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Native Dreams</string>
		<key>Latitude</key>
		<string>32.840232</string>
		<key>Longitude</key>
		<string>-116.708297</string>
		<key>General Info</key>
		<string>Natives Dreams is a day spa located in the Viejas Outlet Center. The spa offers a full-service salon including hair, nail, and skin care. Native Dreams is owned by Tangerine Risberg who is Taos Pueblo.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>M-Sa 10am-7pm; Su 11am-6pm</string>
		<key>Website</key>
		<string>www.nativedreamsalonspa.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Pala Store</string>
		<key>Latitude</key>
		<string>33.364978</string>
		<key>Longitude</key>
		<string>-117.07429300000001</string>
		<key>General Info</key>
		<string>Located on the Pala Reservation, and owned by a member of the Pala Band of Mission Indians, the Pala Store is a complete market with full service deli. Established in 1897, the Pala Store is the longest running business on the reservation.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>M-Th 6-6, F-Su 7:30-5</string>
		<key>Website</key>
		<string></string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Pala Tub</string>
		<key>Latitude</key>
		<string>33.3654446</string>
		<key>Longitude</key>
		<string>-117.07791079999998</string>
		<key>General Info</key>
		<string>Located on the Pala Reservation, and owned by a member of the Pala Band of Mission Indians, the Pala Tub is a state of the art laundromat facility. The Pala Tub features a smart touch value transfer machine and is open to the public.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>8am-6pm</string>
		<key>Website</key>
		<string></string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Rik Mazzetti &amp; Son Garage</string>
		<key>Latitude</key>
		<string>33.273502</string>
		<key>Longitude</key>
		<string>-116.953657</string>
		<key>General Info</key>
		<string>Rik Mazzetti &amp; Son Garage is owned by Rik Mazzetti who is a member of the Rincon Band of Luiseno Indians. The garage is a full service automotive repair facility located on the Rincon Reservation. They specialize in tune ups, oil changes, brake service, air conditioning repair, transmission repair, car battery replacement, vehicle alignment, engine rebuilding, and more.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>M-F 8-5; Sa 8-2</string>
		<key>Website</key>
		<string></string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Tafoya &amp; Son</string>
		<key>Latitude</key>
		<string>32.754594</string>
		<key>Longitude</key>
		<string>-117.197802</string>
		<key>General Info</key>
		<string>Tafoya &amp; Son specializes in providing unique handmade designs from the Indigenous people from the San Diego area. They carry a vast array of patterns from classic talavera pieces to the unique Batik styles of the Guerrero regions. Tafoya &amp; Son  is owned by Christopher Tafoya who is a member of the Juaneno Band of Mission Indians - a California state recognized tribe. The Juaneno originally lived along the coast in areas that are now Orange and San Diego Counties.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>M-Sa 10-6; Su 12- 5</string>
		<key>Website</key>
		<string>www.tafoyajewelry.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>The San Diego House</string>
		<key>Latitude</key>
		<string>32.754511</string>
		<key>Longitude</key>
		<string>-117.197857</string>
		<key>General Info</key>
		<string>The San Diego House is one of San Diego&apos;s leading provider of importing coffee and tea that is of the highest quality. We take pride in our robust selection of coffee and tea including more than 400 loose leaf teas and 75 gourmet coffees that can be served in house or taken home to be brewed later. The San Diego House is owned by Christopher Tafoya who is a member of the Juaneno Band of Mission Indians - a California state recognized tribe. The Juaneno originally lived along the coast in areas that are now Orange and San Diego Counties.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>Su-Th10-8; F&amp;Sa 10-9</string>
		<key>Website</key>
		<string>http://americanhousecoffeetea.com/</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Other Native Businesses</string>
		<key>Site</key>
		<string>Weeping Buffalo Native Arts</string>
		<key>Latitude</key>
		<string>32.733231</string>
		<key>Longitude</key>
		<string>-117.14747499999998</string>
		<key>General Info</key>
		<string>Weeping Buffalo Native Arts is owned by Margaret Blackbear who is Cheyenne/Lakota/Blackfoot. Weeping Buffalo is a store focusing on traditional and contemporary plains arts and crafts. The store is located at the Balboa Park Spanish Village Studio 13 where the owner does mixed media art and beadwork. The owner also has a store in Jacumba, CA approximately 70 miles west of Downtown San Diego.</string>
		<key>Fees</key>
		<string>Varies</string>
		<key>Hours</key>
		<string>Sa-Su 11am-4pm</string>
		<key>Website</key>
		<string>www.weepingbuffalonativearts.com</string>
	</dict>
</array>
</plist>
