<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Bonita Museum and Cultural Center</string>
		<key>Latitude</key>
		<string>32.660987</string>
		<key>Longitude</key>
		<string>-117.034594</string>
		<key>General Info</key>
		<string>The Bonita Museum was established as a 1987 Bonitafest function. The current library and museum were completed in November 2005. The museum continues to educate its visitors about the history of the Sweetwater Valley by changing exhibits and events. The society maintains a permanent collection which is also on view. The permanent collection contains Kumeyaay metates, manos and pottery on display.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>W-Sa 10-4</string>
		<key>Website</key>
		<string>www.bonitahistoricalsociety.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Centro Cultural de la Raza</string>
		<key>Latitude</key>
		<string>32.727728</string>
		<key>Longitude</key>
		<string>-117.14862700000003</string>
		<key>General Info</key>
		<string>The Centro Cultural de la Raza was founded in 1970 as a community center and alternative space that supports and celebrates Chicano, Mexicano, Latino, and Indigenous art and culture in all its forms. The Centro encourages and facilitates artistic expression and cultural interchange in the San Diego/Tijuana region.</string>
		<key>Fees</key>
		<string>$5 suggested donation</string>
		<key>Hours</key>
		<string>T-Su 12-4</string>
		<key>Website</key>
		<string>www.centroculturaldelaraza.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Chicano Park</string>
		<key>Latitude</key>
		<string>32.700345</string>
		<key>Longitude</key>
		<string>-117.14301999999998</string>
		<key>General Info</key>
		<string>Chicano Park was founded on April 22, 1970 when the community of Barrio Logan and Chicano movement activists joined forces to protest the construction of a Highway Patrol station on the present site of the park. Protesters led by the Brown Berets, community activists, artists, M.E.Ch.A. and others took over the site and faced police and bulldozers for days while negotiations took place that resulted in the land being given over for a community park. By claiming Chicano Park, the descendants of the Aztecs the Chicano Mexicano people begin a project of historical reclamation. Located beneath the San Diego-Coronado Bridge in Barrio Logan, a predominantly Mexican American and Mexican-immigrant community in central San Diego, the park is home to the country&apos;s largest collection of outdoor murals, 72 in total. Murals that appear at Chicano Park feature the American Indian Movement (AIM), Yaqui dancers, and Aztec dancers to name a few.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.chicano-park.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Heritage of the Americas Museum at Cuyamaca College</string>
		<key>Latitude</key>
		<string>32.74294</string>
		<key>Longitude</key>
		<string>-116.940651</string>
		<key>General Info</key>
		<string>The Heritage of the Americas Museum is located on the campus of Cuyamaca College in Rancho San Diego, CA. The four wings of the museum take you on a journey through time: the Natural History Wing displays gem, minerals, fossils, etc. from all over the world; the Archaeology Wing houses pre-Columbian artifacts from North, Central and South America; the Anthropology Wing is filled with post-1492 artifacts from the Americas; and the Art Wing has an outstanding collection of contemporary Western art. The museum is an experience for all ages.</string>
		<key>Fees</key>
		<string>$3 Adults, $2 Seniors, Youth free</string>
		<key>Hours</key>
		<string>T-F 10-4; Sa 12-4</string>
		<key>Website</key>
		<string>www.cuyamaca.edu/museum</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Kumeyaay-Ipai Interpretive Center of Pauwai</string>
		<key>Latitude</key>
		<string>32.954129</string>
		<key>Longitude</key>
		<string>-117.055666</string>
		<key>General Info</key>
		<string>The Kumeyaay-Ipai Interpretive Center of Pauwai (Poway) is a five acre site rich in the local history of the Kumeyaay-Ipai Indian tribes. Follow the trails past ramadas, interpretive signage, native gardens and a replica of an &apos;ewaa (native Kumeyaay house). Moteros (grinding stones ) left by the original Kumeyaay inhabitants still remain on this historic site. Also visit the new Education Center to view artifacts and other interesting historical items and photos.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>Sa 9am-12pm</string>
		<key>Website</key>
		<string>www.friendsofthekumeyaay.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego Archaeological Center</string>
		<key>Latitude</key>
		<string>33.089303</string>
		<key>Longitude</key>
		<string>-116.980831</string>
		<key>General Info</key>
		<string>The San Diego Archaeological Center is a museum and curation facility, housing artifacts used by the Indigenous people who have lived in San Diego County for the past 10,000 years. In addition to its role as a museum, the Center serves as an education and research facility and is the only local organization dedicated to the study, curation and exhibition of San Diego County archaelogical artifacts. The Center&apos;s exhibits change frequently and feature pottery, stone tools and historic period artifacts.</string>
		<key>Fees</key>
		<string>$2 per person or $5 per family and Center Members receive free admission</string>
		<key>Hours</key>
		<string>M-F 9-4; Sa 10- 2</string>
		<key>Website</key>
		<string>www.sandiegoarchaeology.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego Children&apos;s Discovery Museum</string>
		<key>Latitude</key>
		<string>33.124545</string>
		<key>Longitude</key>
		<string>-117.082316</string>
		<key>General Info</key>
		<string>San Diego Children&apos;s Discovery Museum is a hands-on museum for children ages 0-10 to learn through play. SDCDM&apos;s exhibits and programs encourage children to explore, imagine, experiment, and discover through hands-on science, art, and world cultures activities. The Museum has designated an area for Native California which includes a tule reed and willow branch home, native plant garden, and program space, and plans to partner with local groups to further develop the Native California programs and activities.</string>
		<key>Fees</key>
		<string>Members free; $6 children &amp; adults, discount w/ military ID</string>
		<key>Hours</key>
		<string>Su-Sa 9:30-4:30</string>
		<key>Website</key>
		<string>www.sdcdm.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego History Center</string>
		<key>Latitude</key>
		<string>32.730716</string>
		<key>Longitude</key>
		<string>-117.148637</string>
		<key>General Info</key>
		<string>The San Diego History Center tells the diverse story of our region - past, present and future - educating and enriching our community, preserving our history and fostering civic pride. The History Center collections include artifacts and photographs that highlight the heritage of the Kumeyaay. A portion of the artifacts and photographs are on display in the permanent exhibit &quot;San Diego: Place of Promise.&quot;  The collections include the Edward H. Davis Collection of Indian Photographs and Drawings, 1900s-1940s.</string>
		<key>Fees</key>
		<string>$10 Adults, $8 Seniors (65+), $6 Youth</string>
		<key>Hours</key>
		<string>10am-5pm Sun-Sat</string>
		<key>Website</key>
		<string>www.sandiegohistory.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego Museum of Art</string>
		<key>Latitude</key>
		<string>32.732101</string>
		<key>Longitude</key>
		<string>-117.150531</string>
		<key>General Info</key>
		<string>The San Diego Museum of Art is a fine arts museum located in Balboa Park in San Diego, CA and houses a broad collection with particular strength in Spanish, Southest Asian, and Modern art. The museum&apos;s art collection ranges from 5000 BC to the present. The museum recently expanded its holdings in the art of African, Pacific, and Native American cultures.</string>
		<key>Fees</key>
		<string>$12 adults, $9 seniors, military, youth $4.50 7-17; college students $8</string>
		<key>Hours</key>
		<string>M, T, Th, F &amp; S 10am-5pm; Su 12pm-5pm</string>
		<key>Website</key>
		<string>www.sdmart.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego Museum of Man</string>
		<key>Latitude</key>
		<string>32.73152</string>
		<key>Longitude</key>
		<string>-117.15234499999997</string>
		<key>General Info</key>
		<string>The San Diego Museum of Man is an anthropology museum located in Balboa Park, San Diego, CA and housed in the historic landmark buildings of the California Quadrangle. On the second floor, the museum houses an exhibit entitled &quot;Kumeyaay: Native Californians.&quot; This exhibit explores traditional Kumeyaay lifeways, featuring the art of pottery and basket making, food procurement, dress and adornment, traditional medicine, games, and ceremonies. Artifacts and photographs from the museum&apos;s collection highlight the rich cultural heritage of the Kumeyaay, offering a glimpse of the life of the ancestors of today&apos;s present day people. The rotunda of the museum currently has an exhibit on Kumeyaay astrology with a graphical depiction of constellations.</string>
		<key>Fees</key>
		<string>$12.50 adults; $10 seniors, military, students 13-17; $8 college; $6 youth 3-12; children 3 &amp; under free</string>
		<key>Hours</key>
		<string>10am-5pm Daily</string>
		<key>Website</key>
		<string>www.museumofman.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>San Diego Natural History Museum</string>
		<key>Latitude</key>
		<string>32.73162</string>
		<key>Longitude</key>
		<string>-117.152377</string>
		<key>General Info</key>
		<string>The San Diego Natural History Museum is located in Balboa Park in San Diego, CA. The museum was founded in 1874. The museum houses one exhibition about the Indigenous Peoples in the area entitled &quot;Water: A California Story.&quot; This exhibition tells the story of the Kumeyaay&apos;s historical water use to the current use in the San Diego area. The exhibition, located on Level 1, features features photos, maps, video, and hands-on activities, natural history specimens, live animals, and more.</string>
		<key>Fees</key>
		<string>$17 adults, $15 seniors, $12 military, $11 youth 3-17</string>
		<key>Hours</key>
		<string>10am-5pm Daily</string>
		<key>Website</key>
		<string>www.sdnhm.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>The Junipero Serra Museum</string>
		<key>Latitude</key>
		<string>32.7596781</string>
		<key>Longitude</key>
		<string>-117.19347319999997</string>
		<key>General Info</key>
		<string>The Junipero Serra Museum, located in Presidio Park, is one of the most familiar landmarks in the City of San Diego and interprets the founding of the Royal Presidio of San Diego, a National Historic Landmark. Exhibits, artifacts and photographs from the collection of the San Diego History Center highlight the heritage of the Kumeyaay and their relationships with the City of San Diego through the mission system. Dedicated in 1929, and built to house the collections of the San Diego Historical Society (today the San Diego History Center) the Serra Museum was commissioned by San Diego Businessman and Philanthropist George Marston and was designed by architect William Templeton Johnson. The Serra Museum is considered a prime example of Mission Revival architecture and remains the primary architectural feature of Presidio Park today.</string>
		<key>Fees</key>
		<string>$6 adults; $4 seniors, military, students; $3 youth 6-7; under 6 free</string>
		<key>Hours</key>
		<string>F-Su 10am-5pm</string>
		<key>Website</key>
		<string>www.sandiegohistory.org/serra_museum.html</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>The Water Conservation Garden</string>
		<key>Latitude</key>
		<string>32.7429819</string>
		<key>Longitude</key>
		<string>-116.94058319999999</string>
		<key>General Info</key>
		<string>The Water Comservation Garden  contains a Native Plant Garden, which showcases not only  the plants that are  indigenous to the region, but also many of the tools that the Native people in the area used to harvest their traditional foods and plants. At the Native Plant Garden, children will enjoy griding acorns on the mano and metate.</string>
		<key>Fees</key>
		<string>Yes $3 adults, $1 children (5-17)</string>
		<key>Hours</key>
		<string>9am-4pm</string>
		<key>Website</key>
		<string>www.thegarden.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Warner-Carrillo Ranch House Museum (SOHO)</string>
		<key>Latitude</key>
		<string>33.2455691</string>
		<key>Longitude</key>
		<string>-116.67046909999999</string>
		<key>General Info</key>
		<string>The Warner Ranch House sits on the territorial homelands of the Cupeno people in what is now Warner Springs, CA (Kupa). In 1844, Governor Manuel Micheltorena granted 44,322 acres to Juan Jose Warner who built the Warner Ranch House. The Ranch House was the southern overland route into California, and was a popular Stage stop enroute to San Francisco. The Warner&apos;s Ranch House was designated A Registered National Historic Landmark in 1962. The facility provides resources and presentations regarding the Cupeno people that lived in the area.</string>
		<key>Fees</key>
		<string>$5 Adults, $4 Seniors, $3 Children</string>
		<key>Hours</key>
		<string>Sat &amp; Sun 12-4pm</string>
		<key>Website</key>
		<string>http://www.sohosandiego.org/warners/visit.htm</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Public Museums</string>
		<key>Site</key>
		<string>Women&apos;s Museum of California</string>
		<key>Latitude</key>
		<string>32.7387073</string>
		<key>Longitude</key>
		<string>-117.2122278</string>
		<key>General Info</key>
		<string>The Women&apos;s Museum of California is one of only five museums of women&apos;s history in the country. The mission of the Women&apos;s Museum of California is to educate and inspire present and future generations about the experiences and contributions of women by collecting, preserving, and interpreting the evidence of that experience. Past exhibitions include &quot;Gifts of our Sisters - Lost and Found&quot; a traveling exhibit about the lives of Kumeyaay women. From birthing rituals to puberty rites, the Kumeyaay mark their life&apos;s milestones in unique ways. An upcoming exhibition in November 2015  will feature California Indigenous Women Artists.</string>
		<key>Fees</key>
		<string>$5 adults, $3 seniors/students</string>
		<key>Hours</key>
		<string>12-4 W-Sun</string>
		<key>Website</key>
		<string>www.womensmuseumca.org</string>
	</dict>
</array>
</plist>
