<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Barona Band of Mission Indians Reservation</string>
		<key>Latitude</key>
		<string>32.942105</string>
		<key>Longitude</key>
		<string>-116.855939</string>
		<key>General Info</key>
		<string>In 1932, without a homeland but with some federal monies allotted from the sale of the Capitan Grande Reservation, a group of the Capitan Grande tribal members purchased the Barona Ranch which today is the Barona Indian Reservation near Lakeside, about 30 miles northeast of San Diego. For many years living without electricity and other services, the tribal members tried to create a living through the ranch and farming. Barona now runs a successful Casino, Resort, and Golf Course, and is home to the Barona Cultural Center.The Barona Band of Mission Indians come from the Ipai-Tipai (Diegueno) language group. The population is 536, and their reservation is 5,664 acres.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.barona-nsn.gov</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Campo Band of Kumeyaay Indians Reservation</string>
		<key>Latitude</key>
		<string>32.662084</string>
		<key>Longitude</key>
		<string>-116.370444</string>
		<key>General Info</key>
		<string>The Campo Reservation is located approximately 63 miles southeast of Downtown San Diego atop the Laguna Mountains. The Campo Band of Kumeyaay Indians come from the Kumeyaay (Diegueno) language group. The Kumeyaay&apos;s historic territory reached from northern San Diego County to the Salton Sea and 50 miles into Baja California. The population of the Band is 351, and their reservation is 15,336 acres. Campo now runs the Golden Acorn Casino and Travel Center off of Interstate 8. Other economic development projects include Campo Materials and Kumeyaay Wind.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.campo-nsn.gov</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Capitan Grande Reservation</string>
		<key>Latitude</key>
		<string>32.925983</string>
		<key>Longitude</key>
		<string>-116.729328</string>
		<key>General Info</key>
		<string>This 15,615 acre reservation is uninhabited and held in trust by the Federal Government for both the Viejas and Barona Bands of the Kumeyaay nation near Laguna-Pine Valley, CA. The Capitan Grande Reservation once housed the families of the entire Capitan Grande Band of Diegeno Mission Indians. When the city forcibly purchased the Capitan Grande Canyon to create the El Capitan Reservoir in 1931, the resident families were displaced. The Baron-Long families ultimately were moved to the Viejas Ranch (now Viejas Reservation) and the Coapan Band were moved to the Barona Ranch (now Barona Reservation).This reservation currently serves as an Ecological Preserve.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>N/A</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Ewiiaapaayp Band of Kumeyaay Indians Reservation</string>
		<key>Latitude</key>
		<string>32.910709</string>
		<key>Longitude</key>
		<string>-116.743752</string>
		<key>General Info</key>
		<string>The Ewiiaapaayp Band of Kumeyaay Indians, formerly known as the Cuyapaipe Community of Diegueno Mission Indians of the Cuyapaipe Reservation, is a federally recognized tribe of Kumeyaay Indians, who are sometimes known as Mission Indians. The main reservation was created in 1891 by the US Congress. The main Ewiiaapaayp Reservation is 4,102 acres, and the other parcel is 10 acres. Only one percent of the larger parcel is arable, so there are no public utilities are available on this parcel. Because of the inaccessibility to the land, many Ewiiaapaayp families moved and enrolled in other Kumeyaay tribes. Ewiiaapaayp also have trust land near Alpine, CA which is leased to the Southern Indian Health Council.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.sctca.net/ewiiaapaayp-band-kumeyaay-indians</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Iipay Nation of Santa Ysabel Reservation</string>
		<key>Latitude</key>
		<string>33.158375</string>
		<key>Longitude</key>
		<string>-116.66752</string>
		<key>General Info</key>
		<string>The Santa Ysabel Reservation is located about 40 miles east of Escondido, on Highway 76, south of Los Coyotes Reservation. Santa Ysabel is situated on the slopes of the Volcan Mountains, at nearly 4,500 feet. The rugged, wooded area provides a sense of solitude for the reservation&apos;s residents. Nearby the Iipay Nation&apos;s reservation is the Santa Ysabel Mission, museum, and cemetery.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.iipaynation-nsn.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Inaja Band of Diegueno Mission Indians Reservation</string>
		<key>Latitude</key>
		<string>33.010046</string>
		<key>Longitude</key>
		<string>-116.644743</string>
		<key>General Info</key>
		<string>The Inaja-Cosmit Reservation is located 36 miles northeast of Downtown San Diego. The tribal lands consist of two parcels of rather remote and somewhat inaccessible land at the base of Cuyamaca Peak. Deep winter snows and a lack of facilities make these locations inhospitable to all but the hardiest. The Inaja-Cosmits are governed by a tribal chairperson, and they maintain a tribal office in Escondido, California. Members of the Inaja-Cosmit Band belong to the Kumeyaay Nation. Tribal lands of the Kumeyaay Nation extend from San Diego and Imperial Counties in California to territories 60 miles south of the Mexican border. The Kumeyaays are members of the Yuman-language branch of the Hokan linguistic group.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.sctca.net/inaja-cosmit-band-indians</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Jamul Indian Village Reservation</string>
		<key>Latitude</key>
		<string>32.703303</string>
		<key>Longitude</key>
		<string>-116.867127</string>
		<key>General Info</key>
		<string>Jamul Indian Village of California is one of thirteen Bands of the Kumeyaay Nation federally recognized as a sovereign nation.  The Village is located approximately 20 miles east of downtown San Diego on State Route 94.  The small reservation will be the home of the $360 million Hollywood Casino Jamul, which is currently under construction and slated to open in 2016.  The  St. Francis of Xavier Church, built circa 1900, is adjacent to the Jamul Indian Village.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.jamulindianvillage.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>La Jolla Band of Luiseno Indians Reservation</string>
		<key>Latitude</key>
		<string>33.273574</string>
		<key>Longitude</key>
		<string>-116.852236</string>
		<key>General Info</key>
		<string>The La Jolla Reservation spans 8,541 acres along the southern slopes of Mount Palomar and descends in cascading terraces to the cool forests of the upper reaches of the San Luis Rey River. The reservation is located off State Highway 76, 25 miles east of Escondido and 60 miles northeast of San Diego. The La Jolla Reservation lies within traditional Luiseno territory. Members of the La Jolla Band belong to the Luiseno Nation. Tribal members have resided in the region for thousands of years. The La Jolla reservation is home of the La Jolla campground, offering RV sites, cabins and tent camping and inner tube river rides.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.lajollaindians.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>La Posta Band of Mission Indians Reservation</string>
		<key>Latitude</key>
		<string>32.705531</string>
		<key>Longitude</key>
		<string>-116.36106</string>
		<key>General Info</key>
		<string>The La Posta reservation is located 56 miles east of San Diego and 46 miles west of El Centro in the Laguna Mountains, with its southwest corner bordered by interstate 8. The 3,556 acre reservation does not currently have a visitor serving commercial enterprise. The reservation borders the Cleveland National Forest. The residents of La Posta Reservation are members of the Kumeyaay Nation The group&apos;s language belongs to the Yuman branch of the greater Hokan linguistic family. The Kumeyaays&apos; traditional territory encompassed what is now southern San Diego County and northern Baja California.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.lptribe.net</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Los Coyotes Band of Cahuilla and Cupeno Indians Reservation</string>
		<key>Latitude</key>
		<string>33.276975</string>
		<key>Longitude</key>
		<string>-116.649439</string>
		<key>General Info</key>
		<string>With some 25,000 acres of federally-recognized sovereign tribal land, the Los Coyotes Indian Reservation is the largest reservation in San Diego County, and it rests in some of the most beautiful, unspoiled, remote and inaccessible high mountain wilderness areas of the Southern California countryside.  A scenic 1.5-hour, 80-mile drive northeast from downtown San Diego, Los Coyotes reservation is located approximately 15 miles northwest of Anza-Borrego Desert State Park; approximately 30 miles north of Cleveland National Forest; approximately 20 miles east of Palomar Mountain State Park; approximately 15 miles north of Julian; approximately 5 miles east of Warner Springs, Calif.  The Los Coyotes campground and horse ridings facility provide a unique perspective  on backcountry in San Diego County.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.sctca.net/los-coyotes-band-cahuilla-and-cupe%C3%B1o-indians</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Manzanita Band of the Kumeyaay Nation Reservation</string>
		<key>Latitude</key>
		<string>32.750535</string>
		<key>Longitude</key>
		<string>-116.342655</string>
		<key>General Info</key>
		<string>The Manzanita Reservation is located in southeastern San Diego County, California. Manzanita adjoins Campo Indian Reservation on the south and La Posta Reservation on the west. It is about 67 miles east of the City of San Diego on Interstate 8 and is six miles away from Boulevard, CA. The reservation lies within 10 miles of the U.S.-Mexico border. Members of the Manzanita Band belong to the greater Kumeyaay Nation.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.sctca.net/manzanita-band-kumeyaay-nation</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Mesa Grande Band of Mission Indians Reservation</string>
		<key>Latitude</key>
		<string>33.187811</string>
		<key>Longitude</key>
		<string>-116.778861</string>
		<key>General Info</key>
		<string>Sitting at about 3,500 feet above sea level, the Mesa Grande Reservation is located in northern San Diego County, about 75 miles northeast of San Diego, CA. Positioned on a high plateau above Black Canyon, next to the Cleveland National Forest, Mesa Grande is remote, quiet, scenic and unspoiled. Mesa Grande&apos;s 1,820 acres is home to approximately 130 of the tribe&apos;s over 800 enrolled members. The Mesa Grande Band is one of the thirteen bands that that compile the Kumeyaay Nation. The Band is currently pursuing business interests through their Tribal holding company, Tekamuk Enterprises, in several areas, including renewable energy development, waste management and recycling, training and event production and vendor services to private and government business.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.mesagrandeband-nsn.gov</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Pala Band of Mission Indians Reservation</string>
		<key>Latitude</key>
		<string>33.365151</string>
		<key>Longitude</key>
		<string>-117.07648</string>
		<key>General Info</key>
		<string>The Pala Reservation, consisting of over 12,000 acres of trust land, is located in North County San Diego along Highway 76.  Members of the Pala Band belong to the Kuupangaxwichem, or Cupeno, and Luiseno tribes.  The Pala Reservation represents one of the communities of Indians who were forced together by Spanish missionaries during the 1800s and later by the federal government Although the original homelands of the Cupeno is Kupa (present day Warner Springs, CA), home to medicinal, natural hot springs, the families were evicted from their homes in 1903 and forced to embark on a 40 mile journey from Kupa to Pala, where they were relocated. Today Pala runs the successful Pala Casino Spa Resort, and is also home to the Pala Raceway, Skatepark, Cupa Cultural Center, and Pala Rez Radio 91.3.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.palatribe.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Pauma Band of Luiseno Indians Reservation</string>
		<key>Latitude</key>
		<string>33.333013</string>
		<key>Longitude</key>
		<string>-116.985647</string>
		<key>General Info</key>
		<string>The Pauma and Yuima Reservations are located in Pauma Valley, CA  at the foothills of Mount Palomar. The nearly 6,000 acre Pauma Reservation encompasses only a small portion of the traditional territory, which expanded into northern San Diego, Riverside, and Orange Counties. Historically known as the Pauma-Yuima Band of Mission Indians, the Pauma Band is one of six federally recognized Indian tribes in the mid-southern California area who share Luiseno tribal affiliation, language, and traditions. The Pauma Band now runs the successful Casino Pauma and produces Haas avocados, Valencia oranges, and lemons on approximately 60 acres.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.paumatribe.com</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Rincon Band of Luiseno Indians Reservation</string>
		<key>Latitude</key>
		<string>33.263369</string>
		<key>Longitude</key>
		<string>-116.960583</string>
		<key>General Info</key>
		<string>The Rincon Reservation is in the northeastern corner of San Diego County along the San Luis Rey River in Valley Center, CA. Members of the Rincon Band belong to the Luiseno Nation. Rincon runs the successful Harrah&apos;s Resort Southern California, a gaming and resort experience, as well as the Rincon Travel Plaza.  Indian Health Council, Inc.&apos;s main facility is located adjacent to the RIncon Reservation along with the All Tribes American Indian Charter School. The RIncon Reservation is also home to the Wasxayam Pomki Museum.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.rincontribe.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>San Pasqual Band of Indians Reservation</string>
		<key>Latitude</key>
		<string>33.221948</string>
		<key>Longitude</key>
		<string>-116.969087</string>
		<key>General Info</key>
		<string>The current San Pasqual Reservation is comprised of five separate, noncontiguous tracts of dry, scrub-oak hill country in southern California. It adjoins the rural community of Valley Center approximately 40 miles north of San Diego, 12 miles from Escondido, and 25 miles inland from the Pacific Ocean. The San Pasqual Band is one of the twelve Kumeyaay Nations in San Diego County. San Pasqual runs the Valley View Casino and Hotel and Woods Valley Golf Club.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>http://www.sanpasqualbandofmissionindians.org/</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Sycuan Band of the Kumeyaay Nation Reservation</string>
		<key>Latitude</key>
		<string>32.77809</string>
		<key>Longitude</key>
		<string>-116.840015</string>
		<key>General Info</key>
		<string>Sycuan Reservation is located in southern California, six miles from El Cajon and within 20 miles of San Diego, off Highway 8 east.  The Sycuan Reservation is located in Dehesa Valley and is comprised of 640 acres of federal trust land.The Sycuan Band is one of the thirteeen bands that make up the Kumeyaay Nation.  Today, Sycuan runs the Sycuan Casino, Sycuan Golf Resort, US Grant Hotel, Hotel Solamar, Best Western Marina Gateway Hotel, and UP Smoke Shop.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.sycuantribe.org</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Tribal Lands</string>
		<key>Site</key>
		<string>Viejas Band of Kumeyaay Indians Reservation</string>
		<key>Latitude</key>
		<string>32.849496</string>
		<key>Longitude</key>
		<string>-116.692243</string>
		<key>General Info</key>
		<string>The Viejas Reservation was esablished in 1934 and is located 35 miles each of San Diego, north of interstate 8 and the city of Alpine. It is surrounded by the Cleveland National Forest. Viejas is one of the thirteen different Bands of the Kumeyaay Nation. Originally inhabitants from the Capitan Grande Resrvation, the members of Viejas are direct descendents from the families that were forced from Capitan Grande who pooled their shares of dam-site purchase money to buy Viejas Valley. Viejas runs the Viejas Casino and Resort, the Viejas Outlet Center, and the Ma-Tar-Awa Recreational Vehicle Park.</string>
		<key>Fees</key>
		<string>None</string>
		<key>Hours</key>
		<string>N/A</string>
		<key>Website</key>
		<string>www.viejasbandofkumeyaay.org</string>
	</dict>
</array>
</plist>
